<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OATalk.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AA1B2FA8633238F317908491880D240EDCE2E1F8</string>
				<key>dateExpires</key>
				<string>2021/5/29</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AA1B2FA8633238F317908491880D240EDCE2E1F8</string>
						<key>dateExpires</key>
						<string>2021/5/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM5XS7RUX6</string>
						<key>name</key>
						<string>Hunan CreLove Network Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AA1B2FA8633238F317908491880D240EDCE2E1F8</string>
						<key>dateExpires</key>
						<string>2021/5/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM5XS7RUX6</string>
						<key>name</key>
						<string>Hunan CreLove Network Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AA1B2FA8633238F317908491880D240EDCE2E1F8</string>
						<key>dateExpires</key>
						<string>2021/5/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM5XS7RUX6</string>
						<key>name</key>
						<string>Hunan CreLove Network Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AA1B2FA8633238F317908491880D240EDCE2E1F8</string>
						<key>dateExpires</key>
						<string>2021/5/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM5XS7RUX6</string>
						<key>name</key>
						<string>Hunan CreLove Network Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AA1B2FA8633238F317908491880D240EDCE2E1F8</string>
						<key>dateExpires</key>
						<string>2021/5/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JGProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM5XS7RUX6</string>
						<key>name</key>
						<string>Hunan CreLove Network Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AA1B2FA8633238F317908491880D240EDCE2E1F8</string>
						<key>dateExpires</key>
						<string>2021/5/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainAccess.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM5XS7RUX6</string>
						<key>name</key>
						<string>Hunan CreLove Network Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AA1B2FA8633238F317908491880D240EDCE2E1F8</string>
						<key>dateExpires</key>
						<string>2021/5/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM5XS7RUX6</string>
						<key>name</key>
						<string>Hunan CreLove Network Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AA1B2FA8633238F317908491880D240EDCE2E1F8</string>
						<key>dateExpires</key>
						<string>2021/5/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM5XS7RUX6</string>
						<key>name</key>
						<string>Hunan CreLove Network Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AA1B2FA8633238F317908491880D240EDCE2E1F8</string>
						<key>dateExpires</key>
						<string>2021/5/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM5XS7RUX6</string>
						<key>name</key>
						<string>Hunan CreLove Network Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AA1B2FA8633238F317908491880D240EDCE2E1F8</string>
						<key>dateExpires</key>
						<string>2021/5/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM5XS7RUX6</string>
						<key>name</key>
						<string>Hunan CreLove Network Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AA1B2FA8633238F317908491880D240EDCE2E1F8</string>
						<key>dateExpires</key>
						<string>2021/5/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM5XS7RUX6</string>
						<key>name</key>
						<string>Hunan CreLove Network Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AA1B2FA8633238F317908491880D240EDCE2E1F8</string>
						<key>dateExpires</key>
						<string>2021/5/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM5XS7RUX6</string>
						<key>name</key>
						<string>Hunan CreLove Network Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AA1B2FA8633238F317908491880D240EDCE2E1F8</string>
						<key>dateExpires</key>
						<string>2021/5/29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BM5XS7RUX6</string>
						<key>name</key>
						<string>Hunan CreLove Network Technology Co.,Ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BM5XS7RUX6.com.itro.oatalk</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BM5XS7RUX6</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>BM5XS7RUX6.com.itro.oatalk</string>
				</array>
			</dict>
			<key>name</key>
			<string>OATalk.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3d178e40-45ca-426e-a6b7-e65399413bf6</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.itro.oatalk</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BM5XS7RUX6</string>
				<key>name</key>
				<string>Hunan CreLove Network Technology Co.,Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
