<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>
http://file.51itro.com/ishang/app/IOS/XiaoBei_OA.ipa
</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>url</key>
<string>
http://file.51itro.com/ishang/app/IOS/pic/icon57.png
</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>url</key>
<string>
http://file.51itro.com/ishang/app/IOS/pic/icon512.png
</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.itro.oatalk</string>
<key>bundle-version</key>
<string>2.0.0.1.0</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>小贝集团.OA</string>
</dict>
</dict>
</array>
</dict>
</plist>
